.col-lg-3{
      padding-top: 8px;
    }

 #recherche{
 	background-color: rgb(242, 242, 242);
 	height: 150px;
 }

 .row{
 	padding-top: 10px;
 	margin-left: 15px;
 }

 #recherche p {
 	color: #F8F9FA;
 	font-size: 25px;
 	margin-left: 40px;
 	padding-top: 20px;
 }

